version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      - PORT=3001
    ports:
      - "3001:3001"

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        - API_BASE_URL=http://api:3001
    environment:
      - API_BASE_URL=http://api:3001
      - PORT=3000
    depends_on:
      - api
    ports:
      - "3000:3000"
